
#importFrom(graphics, plot)
#importFrom(gtools, permutations)
import(copula)
import(methods)
importFrom("stats", "approxfun", "cor", "median", "optim", "pnorm","sd")
export(
CoClust
)
exportClasses(
CoClust
)
#exportMethods(
#plot
#,show
#)
